*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 254, 254, 0.925)!important;
}
.button-excel {
    background-color: rgb(54, 195, 54) !important;
    color: white !important;
}
.button-pdf {
    background-color: rgb(189, 54, 54) !important;
    color: white !important;
}
.button-csv {
    background-color: rgb(209, 209, 54) !important;
    color: black !important;
}
.button-copy {
    background-color: rgb(54, 54, 194) !important;
    color: white !important;
}
div.dataTables_filter label {
    font-size: 1.5rem !important;
    font-weight: bolder !important;
    color: rgb(224, 54, 54);
}
div.dataTables_wrapper div.dataTables_filter input {
    font-size: 1.2rem !important;
    font-weight: bolder !important;
    color: rgb(92, 92, 92) !important;
}
div.dtsp-panesContainer {
    margin-top: 1rem !important;
}
button.dtsp-collapseAll, button.dtsp-showAll, button.dtsp-clearAll{
    color: whitesmoke !important;
    background-color: #0d6efd !important;
    width: clamp(6rem, 15%, 8rem) !important;
    font-size: .7rem !important;
    font-weight: 600 !important;
}
.btn-light:disabled{
    background-color: rgba(131, 142, 142, 0.592) !important;
   color: whitesmoke !important;
}
.btn-light:hover{
    background-color: #0d6efd !important;
    color: whitesmoke !important;
}
.badge-secondary {
    background-color: #0d6efd !important; 
}